<h1 class="bg-info text-white p-4">
  {{title}}
</h1>

<div class="container mt-5">
  <div class="row">
      <div class="col-12">
        <!-- <app-product></app-product> -->
         <app-employees></app-employees>
         
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
     <h1> Cricketers Table </h1>
      <table class="table table-bordered">
        <thead>
            <tr class="bg-primary">
              <th>Sr No</th>
              <th>Name</th>
              <th>Country</th>
              <th>ODIDebut</th>
              <th>Matches</th>
              <th>Runs</th>
              <th>HeighestScore</th>
              <th>Centuries</th>
              <th>Fifties</th>
              <th>BattingAverage</th>
              <th>Wickets</th>
            </tr>
        </thead>
        <tbody>
          <tr class="bg-light" *ngFor="let match of cricket; let i = index">
            <td>{{i + 1}}</td>
            <td>{{match.name}}</td>
            <td>{{match.country}}</td>
            <td>{{match.odiDebut}}</td>
            <td>{{match.matches}}</td>
            <td>{{match.runs}}</td>
            <td>{{match.highestScore}}</td>
            <td>{{match.centuries}}</td>
            <td>{{match.fifties}}</td>
            <td>{{match.battingAverage}}</td>
            <td>{{match.wickets}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="table table-bordered">
        <thead>
            <tr class="bg-primary">
              <th>Sr No</th>
              <th>Name</th>
              <th>Country</th>
              <th>ODIDebut</th>
              <th>Matches</th>
              <th>Runs</th>
              <th>HeighestScore</th>
              <th>Centuries</th>
              <th>Fifties</th>
              <th>BattingAverage</th>
              <th>Wickets</th>
            </tr>
        </thead>
        <tbody>
          <tr class="bg-light" *ngFor="let intrmatch of intrcricket; let i = index">
            <td>{{i + 1}}</td>
            <td>{{intrmatch.name}}</td>
            <td>{{intrmatch.country}}</td>
            <td>{{intrmatch.odiDebut}}</td>
            <td>{{intrmatch.matches}}</td>
            <td>{{intrmatch.runs}}</td>
            <td>{{intrmatch.highestScore}}</td>
            <td>{{intrmatch.centuries}}</td>
            <td>{{intrmatch.fifties}}</td>
            <td>{{intrmatch.battingAverage}}</td>
            <td>{{intrmatch.wickets}}</td>
          </tr>
        </tbody>

        <hr>
        
        <!-- <thead>
          <tr>
            <th>Sr No</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Users of Users; let i = index">
            <td>{{i + 1}}</td>
            <td>{{Users.id}}</td>
            <td>{{Users.name}}</td>
            <td>{{Users.email}}</td>
            <td>{{Users.role}}</td>
          </tr>
        </tbody>

        <hr>
        

        <thead>
          
          <tr>
            <th>Sr No</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Products of Products; let i = index">
            <td>{{i + 1}}</td>
            <td>{{Products.id}}</td>
            <td>{{Products.name}}</td>
            <td>{{Products.category}}</td>
            <td>{{Products.price}}</td>
          </tr>
        </tbody> -->
      </table>
    </div>
  </div>
</div>